// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



* {
  outline: none !important;
}


body {
  background: #fff;
  padding: 4rem 0 0;
  font-family: 'Montserrat', sans-serif;
}

/* LAYOUT
/* ================================================================================================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: .5rem 0;
  background: #fff;
  z-index: 100;
  @extend .shadow-sm;
  &__logo {
    display: inline-block;
    cursor: pointer;
  }
}

.main {
  @extend .container;
  flex-wrap: wrap;
  display: flex;
  padding: 0;
  min-height: 600px;

  & .section {
    @extend .col;
  }

  & .aside {
    @extend .col-md-4;
    @extend .col-lg-3;
  }
}

.footer {
  margin: 2rem 0 0;
  padding: 2rem 0 0;
  background: #fff;
  &-copy {
    background: #f5f5f8;
    margin-top: 2rem;
    font-size: .8rem;
    color: #6a7086;
    line-height: 3rem;
    & p {
      @extend .container;
      margin: 0 auto;
    }
  }
}


/* COMPONENTS
/* ================================================================================================================== */

/* MAIN MENU */
.menu-main {
  display: inline-block;
  &__list {
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style: none;
  }
  &__item {
    display: inline-block;
  }
  &__link {
    display: block;
    padding: 0 .5rem;
    font-size: 1rem;
  }
}
.button-menu {
  display: none;
  position: relative;
  border: none;
  padding: 0 0.5rem;
  background: transparent;
  z-index: 100;
  &__line {
    display: block;
    margin: .25rem 0;
    width: 1.5rem;
    height: 2px;
    background: #3f4350;
    transition: width .15s linear;
  }
}

@media (max-width: 768px) {
  .menu-main {
    position: absolute;
    top: 0;
    left: -100%;
    padding: 3rem 1rem;
    width: 60%;
    background: #fff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    transition: left .15s linear;
    z-index: 90;
  }
  .button-menu {
    display: inline-block;
  }
  .menu-open {
    & .menu-main {
      left: 0;
    }
    & .button-menu {
      &__line:nth-child(2) {
        width: .75rem;
        background: #df0031;
      }
    }
  }
}


/* AUTH MENU */
.menu-auth {
  display: inline-block;
  float: right;
  &__list {
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style: none;
  }
  &__item {
    display: inline-block;
  }
  &__link {
    display: block;
    padding: 0 .5rem;
    font-size: 1rem;
  }
}



/* USER CARD */
.user-card {
  display: flex;
  border-bottom: 1px Solid #f5f5f8;
  padding: .5rem 0;
  &:last-child {
    border: none;
  }
  &__photo {
    position: relative;
    margin: 0 .5rem 0 0;
    & img {
      height: 3rem;
      width: 3rem;
      border-radius: 1.5rem;
    }
  }
  &__information {
    width: 100%;
  }
  &__name {
    font-weight: 600;
  }
  &__status {
    color: #a9a9a9;
    font-size: 0.7rem;
    letter-spacing: .015rem;
  }
  &__dot-status {
    &:before {
      content: "";
      position: absolute;
      right: 0.2rem;
      bottom: 0.2rem;
      height: 0.4rem;
      width: 0.4rem;
      background: #bbd0ea;
      border-radius: 0.2rem;
      box-shadow: 0 0 0 0.15rem #fff;
    }
    &--online:before {
      content: '';
      background: #00d006;
    }
  }
}

